[Unit]
Description=Robot Motor Service
After=redis-server.service

[Service]
Type=simple
WorkingDirectory=/robot/motor
ExecStart=/robot/motor/venv/bin/motor

[Install]
WantedBy=multi-user.target