[Unit]
Description=Robot Motor Service

[Service]
Type=simple
WorkingDirectory=/robot/motor
ExecStart=/robot/motor/venv/bin/motor

[Install]
WantedBy=multi-user.target